@model Article

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.UserId" />
    <input type="hidden" asp-for="@Model.CreateDate" />
    <input type="hidden" asp-for="@Model.CreatedBy" />
    <input type="hidden" asp-for="@Model.PhotoUrl" />
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.ViewCount" />
    <div class="form-group">
        <a href="/Admin/article" class="btn btn-outline-primary"> <i class="fa-solid fa-backward"></i>   Article Back</a>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title"  class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="editor" type="text" asp-for="Content"  class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" accept="image/*" id="photo" name="Photo" />
        <span asp-validation-for="PhotoUrl" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
            <option>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select multiple class="form-control" name="tagIds">
         @*   @foreach (var item in ViewBag.Tags as List<Tag>)
            {
                if(Model.ArticleTags.Select(x => x.TagId).Contains(item.Id))
                {
                    <option selected value="@item.Id">@item.TagName</option>
                }else{
                    <option value="@item.Id">@item.TagName</option>
                }
            }*@
            @if (ViewData["Tags"] is List<Tag>
            tagsList)
            {
                foreach (var item in tagsList)
                {
                    //respoct
                    <option value="@item.Id">@item.TagName</option>
                }
            }
        </select>
        @if (ViewBag.TagError != null)
        {
            <p class="text-danger">@ViewBag.TagError</p>
        }
    </div>
        <div class="form-group">
            <label asp-for="Status">Status</label>
            <input type="checkbox" asp-for="Status" />
        </div>
        <div class="form-group">
            <label asp-for="IsDelated">Delete?</label>
            <input type="checkbox" asp-for="IsDelated" />
        </div>
        <div class="form-group">
            <label asp-for="IsFeatured">Featured</label>
            <input type="checkbox" asp-for="IsFeatured" />
        </div>   
    <input type="submit" class="btn btn-info" value="Update" />
</form>
    
